.header {
  width: 100%;
  background-color: var(--color-bg);
  border-radius: 0.2rem;
  z-index: 1000;
  margin: 0.5rem 0;
}
.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0rem 0.7rem 0.5rem 2rem;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.active {
  color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img-header {
  height: 40px;
  padding-top: -50px;
}
.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.hambruger__menu {
  display: none;
}
@keyframes slide-down {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 690px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    animation: slide 2s;
  }
  /* add animation to get add a smooth opening effect to the navigation bar in small devices */
  .links {
    margin-right: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: slide-down 1.2s ease-in;
  }
  .display {
    display: none;
  }
  .hambruger__menu {
    display: inline;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .logo {
    display: none;
  }
}
